@model IEnumerable<EventsPlannerMvc.Models.Vote>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Idea
        </th>
        <th>
            Voter
        </th>
        <th>
            Vote
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Idea1.Title<span>: </span> @item.Idea1.Description
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.User.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VoteCode1.Code)
        </td>
    </tr>
}

</table>
