@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Events Planner</h1>
    <p class="lead">A web application for the rating of event ideas.</p>
</div>

<div class="row">
    
</div>