<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/255fd71a-10e2-4b40-99db-fbdb4e239db2/resourcegroups/EventsPlannerMvc20170407112041ResourceGroup/providers/Microsoft.Web/sites/EventsPlannerMvc20170407112041</ResourceId>
    <ResourceGroup>EventsPlannerMvc20170407112041ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eventsplannermvc20170407112041.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eventsplannermvc20170407112041.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EventsPlannerMvc20170407112041</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EventsPlannerMvc20170407112041</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EventsPlannerContext" Order="1" Enabled="False">
          <Destination Path="Data Source=mynewserver07042017.database.windows.net;Initial Catalog=EventsPlanner;User ID=ServerAdmin;Password=5inHardzeer" Name="Data Source=mynewserver07042017.database.windows.net;Initial Catalog=EventsPlanner;MultipleActiveResultSets=true;User ID=ServerAdmin;Password=5inHardzeer" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EventsPlannerMvc.Models.EventsPlannerContext, EventsPlannerMvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=mynewserver07042017.database.windows.net;Initial Catalog=EventsPlanner;User ID=ServerAdmin;Password=5inHardzeer" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EventsPlannerMvc.Models.ApplicationDbContext, EventsPlannerMvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mynewserver07042017.database.windows.net;Initial Catalog=EventsPlanner;User ID=ServerAdmin;Password=5inHardzeer</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EventsPlannerContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EventsPlannerModel.csdl|res://*/Models.EventsPlannerModel.ssdl|res://*/Models.EventsPlannerModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mynewserver07042017.database.windows.net;Initial Catalog=EventsPlanner;MultipleActiveResultSets=true;User ID=ServerAdmin;Password=5inHardzeer"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mynewserver07042017.database.windows.net;Initial Catalog=EventsPlanner;User ID=ServerAdmin;Password=5inHardzeer</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EventsPlannerContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EventsPlannerModel.csdl|res://*/Models.EventsPlannerModel.ssdl|res://*/Models.EventsPlannerModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mynewserver07042017.database.windows.net;Initial Catalog=EventsPlanner;User ID=ServerAdmin;Password=5inHardzeer"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mynewserver07042017.database.windows.net;Initial Catalog=EventsPlanner;User ID=ServerAdmin;Password=5inHardzeer</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EventsPlannerContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EventsPlannerModel.csdl|res://*/Models.EventsPlannerModel.ssdl|res://*/Models.EventsPlannerModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mynewserver07042017.database.windows.net;Initial Catalog=EventsPlanner;User ID=ServerAdmin;Password=5inHardzeer"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>